    <form action="/{{post}}" method="post">
        <div class="row g-3">
            <h4 class="mt-4 col-12">Datos comunes</h4>
            <div class="col-md-4">
                <label class="form-label-sm">Marca</label>
                <input type="text" class="form-control" name="marca">
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Modelo</label>
                <input type="text" class="form-control" name="modelo">
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Año de lanzamiento</label>
                <input type="number" class="form-control" min="2000" max="2030" name="fecha_mercado">
            </div>
            <h4 class="col-12 mt-4">Especificos {{titulo}}</h4>
            <div class="col-md-4">
                <label class="form-label-sm">Tamaño de la pantalla</label>
                <select name="pant_inch" class="form-select">
                    <option selected disabled>Opción...</option>
                    <option value="17">17"</option>
                    <option value="19">19"</option>
                    <option value="19 wide">19" Wide</option>
                    <option value="20 wide">20" Wide</option>
                    <option value="21 wide">21" Wide</option>
                    <option value="22 wide">22" Wide</option>
                    <option value="24 wide">24" Wide</option>
                    <option value="26 wide">26" Wide</option>
                    <option value="30 wide">30" Wide</option>
                </select>
            </div>
        </div>
        <div class="text-center mb-5">
            <input type="submit" class="my-4 btn btn-primary w-50 p-2" value="Enviar Datos">
        </div>
    </form>
