    <form action="/{{post}}" method="post">
        <div class="row g-3">
            <h4 class="mt-4 col-12">Datos comunes</h4>
            <div class="col-md-4">
                <label class="form-label-sm">Marca</label>
                <input type="text" class="form-control" name="marca">
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Modelo</label>
                <input type="text" class="form-control" name="modelo">
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Año de lanzamiento</label>
                <input type="number" class="form-control" min="2000" max="2030" name="fecha_mercado">
            </div>
            <h4 class="col-12 mt-4">Especificos {{titulo}}</h4>
            <div class="col-md-4">
                <label class="form-label-sm">Tamaño de la pantalla</label>
                <select name="pant_inch" class="form-select">
                    <option selected disabled>Opción...</option>
                    <option value="11.1">11.1"</option>
                    <option value="12.1">12.1"</option>
                    <option value="13.3">13.3"</option>
                    <option value="14.1">14.1"</option>
                    <option value="15.6">15.6"</option>
                    <option value="17.3">17.3"</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Tipo de RAM</label>
                <select name="ram_tipo" class="form-select">
                    <option selected disabled>Opción...</option>
                    <option value="DDR1">DDR1</option>
                    <option value="DDR2">DDR2</option>
                    <option value="DDR3">DDR3</option>
                    <option value="DDR4">DDR4</option>
                    <option value="DDR5">DDR5</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label-sm">Tipo de almacenamiento</label>
                <select name="dsk_tipo" class="form-select">
                    <option selected disabled>Opción...</option>
                    <option value="SSD">SSD</option>
                    <option value="HDD">HDD</option>
                    <option value="SSD_HDD">SSD + HDD</option>
                </select>
            </div>
            <h5 class="mt-4 col-12">Procesador</h5>
            <div class="col-4">
                <label class="form-label-sm">Marca del procesador</label>
                <select name="core_marca" class="form-select">
                    <option selected disabled>Opción...</option>
                    <option value="intel">Intel</option>
                    <option value="amd">AMD</option>
                </select>
            </div>
            <div class="col-4">
                <label class="form-label-sm">Código del procesador</label>
                <input type="text" class="form-control" name="core_cod" placeholder="ej: i5-10400">
            </div>
            <div class="col-4">
                <label class="form-label-sm">Lanzamiento del procesador</label>
                <input type="number" min="2000" max="2030" class="form-control" name="core_año" placeholder="ej: 2002">
            </div>
        </div>
        <div class="text-center mb-4">
            <input type="submit" class="my-5 btn btn-primary w-50 p-2" value="Enviar Datos">
        </div>
    </form>
