
<div class="row g-3 text-center">
    <div class="col-md-4 p-3">
        <a href="/cpu" class="row btn text-primary justify-content-center bg-white"><i class="bi bi-pc m-1" style="font-size: 3rem;"></i></a>
        <label class="row form-label justify-content-center mt-1">CPU</label>
    </div>
    <div class="col-md-4 p-3">
        <a href="/notebook" class="row btn text-primary justify-content-center bg-white"><i class="bi bi-laptop m-1" style="font-size: 3rem;"></i></a>
        <label class="row form-label justify-content-center mt-1">Notebook</label>
    </div>
    <div class="col-md-4 p-3">
        <a href="/monitor" class="row btn text-primary justify-content-center bg-white"><i class="bi bi-display m-1" style="font-size: 3rem;"></i></a>
        <label class="row form-label justify-content-center mt-1">Monitor</label>
    </div>
</div>

