

<div class="d-flex flex-column flex-shrink-0 bg-light vh-100 float-start barra" style="width: 100px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        
        <li class="nav-item"> <a href="/" class="nav-link {{#if index}}active{{/if}} py-3 border-bottom"> <i class="bx bx-home nav_logo-icon" style="font-size: 1.5rem;"></i><small class="nav_logo-name">Inicio</small> </a> </li>
        <li> <a href="./carga_m" class="nav-link {{#if carga_m}}active{{/if}} py-3 border-bottom"> <i class="bi bi-plus-circle" style="font-size: 1.3rem;"></i><small class="nav_name">Agregar modelo</small> </a> </li>
        <li> <a href="/listado" class="nav-link {{#if listado}}active{{/if}} py-3 border-bottom"> <i class="bi bi-card-list" style="font-size: 1.3rem;"></i><small class="nav_name">Listado</small> </a> </li>
    </ul>
</div>

