
<div class="container d-flex flex-column cuerpo">
    <h1 class="text-center mt-5">{{titulo}}</h1>
    <hr>
    <article class="container w-75 mt-4">
        <div class="card">
                <h4 class="card-header bg-warning p-3 ps-5 text-white">Trabajo final PWI</h4>
            <div class="card-body">
                <h5 class="card-subtitle text-muted ms-2 m-1">Saludos visitante:</h5>
                <p class="card-text p-3 ps-4">Te doy la bienvenida a mi aplicación. En ella vas a poder ingresar modelos de dispositivos informaticos en una Base de datos, visualizarlos, editarlos y eliminarlos.</p>
            </div>
        </div>
        <div class="text-center validacion">
            <h2 class="text-warning">
                {{validacion}}
            </h2>
        </div>

    </article>
</div>
